* {
	margin: 0;
	padding: 0;
}

#header{
	background-color: rgba(255,45,85,0.9);
	height: 10vh;
	margin: 0;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 5.7pt;
	font-family: 'Open Sans', sans-serif;
}