<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	</head>
	<body>
		<div id="header">Snapstitch</div>
		<div id="body">
		<p id="title">Your Stitches</p>
		<video width="320" height="240" controls>
			<source src="{{ url_for('static', filename='Best Streetball Moves Done in the NBA.mp4')}}" type="video/mp4"
			Your Browser is shitty
		</video>
		</div>
	</body>
</html>