<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	</head>
	<body>
		<div id="header">Snapstitch</div>
		<div id="body">
		<p id="title">Your Stitch</p>
		<div id="viddiv">
			<div class="vidcontainer">
				<video class="vid">
					<source src="/results/{{groupid}}.mp4" type="video/mp4">
					Your Browser doesnt support
				</video>
				
			</div>
			
            
		</div>
		</div>
	</body>
</html>